@import './../../style/variables.scss';
@import './../../style/mixins.scss';

.section {
  display: flex;
  height: 36px;
  align-items: center;
  border-left: 1.6px solid transparent;
  padding-left: 6px;
  padding-right: 6px;

  .section-icon {
    svg {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .section-input {
    input {
      height: 36px !important;
      padding-left: 6px;
      height: 2rem;
      width: 100%;
      border: none;
      background-color: transparent;
      color: $textColor;

      &:focus {
        outline: none;
        cursor: text;
      }
    }
  }
  &:hover {
    background-color: $hover;
  }

  &.selected {
    background-color: $selected;
    border-left: 2px solid #ecc140;
  }

  .section-buttons {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;

    button {
      @include unbuttonize;

      svg {
        color: $textColor;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
