@import './../../style/mixins.scss';

.section {
  display: flex;

  .section-input {
    input {
      padding-left: 4px;
      height: 2rem;
      width: 100%;
      border: none;
      background-color: transparent;

      &:focus {
        outline: none;
        cursor: text;
      }
    }

    :hover {
      cursor: pointer;
    }
  }
  &:hover {
    background-color: rgb(255, 248, 171);
  }

  &.selected {
    background-color: rgb(255, 241, 83);
    border-left: 1.6px solid black;
  }

  button {
    @include unbuttonize;

    svg {
      color: #565656;

      &:hover {
        color: black;
      }
    }
  }
}
