.recipe {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;

  div {
    padding: 20px;

    ul {
        list-style: none;

        input {
            background-color: transparent;
            border: none;
        }
    }

    button {
        border: 1px solid black;
        padding: 8px;
    }
  }
}
