@import './../../style/variables.scss';

.menu {
  background-color: $quaternary;
  border-right: 1px solid rgb(0, 0, 0);

  nav {
    ul {
      li {
        text-align: center;
        color: $textColor;
        height: 36px;

        &.selected {
          background-color: $selected;
        }

        &:hover {
          background-color: $hover;
        }

        svg {
          font-size: 1rem;
          height: 32px;
        }
      }
    }
  }
}
