@import './style/variables.scss';
@import './style/mixins.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

button {
  @include unbuttonize;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
  position: relative;
}

.left {
  display: grid;
  grid-template-columns: 1.2fr 8fr;

  .left-item {
    position: relative;
    height: 100vh;
    border-right: 1px solid rgb(0, 0, 0);
  }

  .library {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

// .right {
//   background-image: url('./images/bg-1.svg');
// }

.add-section {
  position: absolute;
  bottom: 0;
  width: 100%;

  button {
    @include button;

    svg {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
