@import './../../style/variables.scss';

.search {
  border-right: 1px solid rgb(0, 0, 0);
  background-color: $tertiary;

  .message {
    height: 36px;
    display: flex;
    align-items: center;
    padding-left: 16px;
    // justify-content: center;
  }

  .input-container {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;

    input {
      width: 90%;
      padding: 1px 8px;
    }
  }

  .filtered {
    .filtered-item {
      height: 36px;
      margin: auto;
      display: flex;
      align-items: center;
      z-index: 1000;

      .filtered-item-left {
        width: 36px;
        display: flex;
        justify-content: center;

        svg {
          font-size: 1rem;
        }
      }

      .filtered-item-right {
        .right-subtitle {
          font-size: 10px;
        }
      }

      &:hover {
        background-color: $hover;
        cursor: default;
      }
    }
  }
}
