@import './../../style/variables.scss';
@import './../../style/mixins.scss';

.search {
  border-right: 1px solid rgb(0, 0, 0);
  background-color: $bg-tertiary;

  .message {
    height: 36px;
    padding: 0.5rem;
    font-size: 0.9rem;
  }

  .input-container {
    display: flex;

    input {
      @include input;
      width: 100%;
    }
  }

  .filtered {
    margin: 0.5rem 0;

    .filtered-item {
      display: flex;
      align-items: center;
      height: 36px;
      padding: 0.5rem;

      .filtered-item-right {
        padding-left: 8px;

        .right-subtitle {
          font-size: 10px;
        }
      }

      &:hover {
        background-color: $hover;
        cursor: default;
      }
    }
  }
}
